---
// src/components/Colophon.astro
import { formatBuildDate } from "../lib/buildDate";

const lastUpdated = formatBuildDate();
---

<footer class="colophon">
    <div class="row">
        <span>source</span>
        <a
            href="https://github.com/VaibhavAcharya/vaibhavacharya.github.io"
            target="_blank"
            rel="noreferrer"
        >github.com/VaibhavAcharya/vaibhavacharya.github.io</a>
    </div>
    <div class="row">
        <span>last updated</span>
        <span>{lastUpdated}</span>
    </div>
</footer>
