<footer
    class="min-h-[20vh] flex flex-col items-center justify-center text-center"
>
    <p class="text-lg text-opacity-75">
        ✨ thank you for visiting my corner of the internet :)
    </p>
</footer>
