---
// GridBackground.astro
// Displays a subtle grid texture that fades away using a CSS mask. You may pass a custom
// `maskHeight` (percentage as number 0-100) which controls until what point the grid is visible.
// Additional `class` prop to extend Tailwind classes.

interface Props {
	class?: string;
}

const { class: extra = '' } = Astro.props;
---

<div
	class={[
		'-z-50 absolute w-full',
		`h-[40vh]`,
		`[mask-image:_linear-gradient(180deg,_black_20%,_transparent)]`,
		"bg-[url('/grid.svg')] bg-[length:_64px] opacity-40",
		extra,
].filter(Boolean).join(' ')}
></div> 