<header>
	<div class="mx-auto flex w-[min(1024px,_100%)] items-center gap-4 justify-start">
		<a href="/" class="text-base font-medium hover:underline">home</a>

		<nav class="flex flex-row items-center gap-4 text-base font-medium">
			<a href="/blog" class="hover:underline">blog</a>
		</nav>
	</div>
</header>
